<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <style>

body {
  font-family: sans-serif;
  background-color: #eef4ed;
  padding: 0;
  margin: 0;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 255);
  color: #222;
  text-align: center;
  transition: opacity 2s ease-out;
}

#loading-overlay.loaded {
  opacity: 0;
  z-index: -1;
}

#loading-overlay #loading-message {
  margin: 100px auto;
  border-radius: 40px;
  width: 450px;
  height: 450px;
  background-color: #fff;
  padding: -40px;
  font-size: 32px;
  transition: opacity 1s;
}

#loading-overlay.loaded #loading-message {
  opacity: 0;
}

#loading-wrapper {
  padding: 60px;
  margin-top: 80px;
}

#loading-wrapper h2 {
  font-size: 32px;
}

#loading-wrapper p {
  font-size: 18px;
  font-style: italic;
  margin: 0 important!;
  padding: 0 important!;
  font-family: 'Arial', sans-serif !important;
}

#loading-wrapper img {
  display: block;
  margin: 20px auto;
}

  </style>
</head>
<body>

  <noscript>
    <div style="padding-top: 20vh; text-align: center; height: 100vh; width: 100vw; background-color: #effffe;">
      <div style="font-size: 96pt;">&#9785;</div>
      <p>We&rsquo;re sorry!  This site doesn't work properly without Javascript enabled.</p>
    </div>
  </noscript>

  <div id="loading-overlay">
    <div id="loading-message">
      <div id="loading-wrapper">
        <h2 style="font-size: 32px !important; font-weight: bold !important; line-height: 1 !important;">Living off the Land: Environmental impacts to access in Interior Alaska</h2>
        <img src="images/loader.gif" />
        <p>Loading&hellip;</p>
      </div>
    </div>
  </div>

  <div id="app-wrapper">
    <%- include templates/nav %>
    <%- include templates/title %>
    <%- include templates/tableOfContents %>
    <%- include templates/introduction %>
    <%- include templates/iceNarrative %>
    <%- include templates/iceObservations %>
    <%- include templates/winterTempsMapScroller %>
    <%- include templates/snowNarrative %>
    <%- include templates/snowObservations %>
    <%- include templates/snowdayFractionMapScroller %>
    <%- include templates/riverNarrative %>
    <%- include templates/riverObservations %>
    <%- include templates/landNarrative %>
    <%- include templates/landObservations %>
    <%- include templates/permafrostMapScroller %>
    <%- include templates/vegetationNarrative %>
    <%- include templates/vegetationObservations %>
    <%- include templates/firesMapScroller %>
    <%- include templates/conclusion %>
    <%- include templates/credits %>
    <%- include templates/references %>
    <%- include templates/footer %>
  </div>
</body>
</html>
