<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <%- include templates/title %>
  <%- include templates/headerFooter %>
  <%- include templates/introduction %>
  <%- include templates/iceAndSnow %>
  <%- include templates/iceAndSnowObs %>
  <%- include templates/summerConditions %>

</body>
</html>
