<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <%- include templates/title %>
  <%- include templates/header %>
  <%- include templates/introduction %>
  <%- include templates/iceNarrative %>
  <%- include templates/iceObservations %>
  <%- include templates/snowNarrative %>
  <%- include templates/riverNarrative %>
  <%- include templates/landNarrative %>
  <%- include templates/vegetationNarrative %>

</body>
</html>
