<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <%- include templates/title %>
  <%- include templates/logos %>
  <%- include templates/introduction %>
  <%- include templates/observationMapScroller %>
  <%- include templates/iceNarrative %>
  <%- include templates/iceObservations %>
  <%- include templates/tempsAndFrozenSeasonMapScroller %>
  <%- include templates/snowNarrative %>
  <%- include templates/snowObservations %>
  <%- include templates/riverNarrative %>
  <%- include templates/riverObservations %>
  <%- include templates/landNarrative %>
  <%- include templates/landObservations %>
  <%- include templates/vegetationNarrative %>
  <%- include templates/vegetationObservations %>
  <%- include templates/credits %>
  <%- include templates/references %>
  <%- include templates/footer %>

</body>
</html>
